.datatable{
    height: 600px;
    padding: 20px;


    .titleTab{
        display: flex;
        justify-content: center;
        color: black;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .tableCommande{
        margin-top: 30px;
    }
}