@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{  /* reset des parametres CSS */
    margin: 0;
    padding: 0;
    font-family: 'Lato' , 'sans-serif';
    max-width: 100%;
}

.bg{  /* background du site */
    background-color: #F3F3F3;
    width: 100%;
}

#bgproduit{ /* largeur du detail poroduit */
    max-width: 90%;
}


/* ***************************************************************************************************************
********************************************     HEADER     ******************************************************
*****************************************************************************************************************/

.container1{ /* container du header */
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.container1 .navmilieu{
    width: 40vw;
}

.container1 .navmilieu a{ /* Logo Blue Village du header */
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #17C4FB;
    font-weight: 700;
    -webkit-text-stroke: 1px black; /* contour de la police */
    text-decoration: none;
    text-shadow: 0 5px 10px black; /* ombre du texte */

}

.container1 .navmilieu a:hover{ /* passage souris/hover sur le logo */
    transform: scale(1.10); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}

.container1 .navmilieu input{ /* barre de recherche du site */
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #17C4FB;
    border-radius: 10px;
    text-align: center;
}

#homehidden{ /* deuxieme home mis en transparent pour avoir un decalage similaire */
    visibility: hidden;
}
.container1 .navgauche ul,
.container1 .navdroite ul{ /* Ul des deux cotés du header */
    list-style: none;
    display: inline-flex;
}

.container1 .navgauche{
    margin-top: 5%;
    margin-right: 2%;
}

.container1 .navdroite{
    margin-right: 2%;
    margin-top: 5%;
}

.container1 i{
    padding-left: 1vw;
    font-size: 30px;
}

.container1 a{
    color: #1797BF;
}

.container1 i:hover{ /* passage souris/hover sur les icones */
    transform: scale(1.10); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}


/* ***************************************************************************************************************
********************************************     NAVBAR     ******************************************************
*****************************************************************************************************************/

#rubriques{ /* barre de navigation */
    border-top: 2px solid #1797BF;
    border-bottom: 2px solid #1797BF;
}

#rubriques ul{
    display: inline-flex;
    list-style: none; /* enlever les point de liste */
    font-size: 20px;
}

#rubriques li a{ /* lien cliquable des rubriques */
    display: flex;
    text-align: center;
    padding-left: 3vw;
    color: rgb(0, 0, 0);
    text-decoration: none; /* enleve l'effet bleu des liens */
}

#rubriques li button{
    display: flex;
    text-align: center;
    padding-left: 3vw;
    color: rgb(0, 0, 0);
    text-decoration: none; /* enleve l'effet bleu des liens */
}

#rubriques li:hover a{ /* passage souris/hover sur les liens */
    color: white;
    transition: 0.5s ease-in-out;
}

/* ***************************************************************************************************************
*******************************************     CATEGORIES     ***************************************************
*****************************************************************************************************************/

#hr{
    margin: 0 auto;
}

.mainrubrique{
    width: 100vw;
    height: auto;
}

.maintitle{ /* container "Nos Catégories" */
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    color: #17C4FB;
}

.maintitle h2{ /* titre "Nos Catégories" */
    font-size: 48px;
    font-weight: 700;
    -webkit-text-stroke: 1px black; /* contours noir du texte */
    text-shadow: 0 5px 30px #8a8a8a; /* ombre du texte */
}

.cardcomplete{ /* card complete des categories */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* flex-wrap pour le responsive */
    margin: 2%;
}

.cardrubrique{ /* card des rubriques */
    position: relative;
    width: 320px;
    height: 300px;
    box-shadow: inset 5px 5px 5px rgb(0, 0, 0),
                inset -5px -5px -5px rgb(128, 128, 128),
                5px 5px 5px rgb(0, 0, 0),
                -5px -5px -5px rgb(128, 128, 128); /* ombres de la card */
    border-radius: 50%; /* effet arrondi sur la card */
    margin: 30px;
}

.cardcontent{  /* contenu de la card rubrique */
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: white;
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.1); /* ombres */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardcontent img{ /* image de la card rubrique */
    width: 140px;
    height: auto;
    text-align: center;
    color: #17C4FB;
    text-decoration: none;
}

.cardcontent h2{ /* contenu texte des card rubriques */
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #17C4FB;
    text-decoration: none; /* enleve l'effet bleu des liens */
    font-size: 20px;
}

.cardrubrique:hover{ /* passage souris/hover sur la card */
    transform: scale(1.10); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
    overflow: hidden; /* empeche le depassement de la card */
}


/* ***************************************************************************************************************
******************************************     PRODUITS PHARES     ***********************************************
*****************************************************************************************************************/

.mainproduitphare{ /* container "Produits phares" */
    margin-top: 5%;
}

.cardcompletephare{ /* card complete des produits pahres */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   /* flex-wrap pour le responsive */
    margin: 2%;
    margin-bottom: 0;
}

.cardphare1{ /* card phares avec lien */
    position: relative;
    width: 320px;
    height: 420px;
    box-shadow: inset 5px 5px 5px rgb(0, 0, 0),
                inset -5px -5px -5px rgb(128, 128, 128),
                5px 5px 5px rgb(0, 0, 0),
                -5px -5px -5px rgb(128, 128, 128); /* ombres */
    border-radius: 5%;
    margin: 30px;
}

.cardphare1 a{ /* liens */
    text-decoration: none; /* enleve l'effet bleu/soulignement sur les liens */
}

.cardphare2{ /* card phares avec img */
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.1); /* ombres */
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(23,196,251,1) 0%, rgba(255,255,255,1) 25%, #ffffff 100%); /* effet fondu sur le bas de la carte */
    text-decoration: none;
}

.cardphare2 img{ /* img de la card phares */
    width: 140px;
    height: auto;
    text-align: center;
    color: #17C4FB;
    text-decoration: none;
}

.cardphare1:hover img{ /* passage souris/hover sur l'img */
    transform: scale(1.30); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}


.cardphare2 h2{ /* lien du produit */
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #17C4FB;
    font-size: 20px;
}

.cardphare2 h3{ /* libelle du produit */
    padding-top: 10%;
    font-size: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.cardphare3{ /* lien du produit */
    width: 50%;
    height: auto;
    display: inline-flex;
    text-align: center;
}

.cardphare3 h3{ /* prix du produit */
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    margin-top: 190%;
    margin-left: 100%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.cardphare3 a:hover{ /* passage souris/hover sur la card */
    text-decoration: none; 
}


/* ***************************************************************************************************************
********************************************     FOOTER     ******************************************************
*****************************************************************************************************************/


.footer{ /* footer */
    margin-top: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 30vh;
    width: 100%; 
    background: linear-gradient(0deg, rgba(23,196,251,1) 0%, #F3F3F3 90%, #F3F3F3 100%); /* effet fondu sur le footer */
}

.footer ul{ /* enleve les listes a puces des UL */
    list-style: none;
}

.footergauche li{
    font-size: 24px;
}

.footergauche a{ /* liens de la partie gauche du footer */
    color:black;
    text-decoration: none; /* enleve les effets du lien */
}

.footergauche a:hover i{ /* passage souris/hover sur les liens */
    transform: scale(1.25); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}

.footermilieu li,
.footerdroite li{ 
    font-size: 50px;
}

.footergauche{
    width: 25vw;
    color:rgb(0, 0, 0);
    margin-left: 5%;
    list-style: none;
    padding-left: 10px;
}

.footermilieu{
    width: 25vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.footermilieu ul{
    padding: 10%;
}

.footerdroite{
    width: 25vw;
}

.footerdroite li{
    padding: 5%;
    display: inline-block;
}

.footerdroite a{
    color: black;
}

.footerdroite a:hover i{ /* passage souris/hover sur les liens */
    transform: scale(1.20); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}

#detailproduitcom{
    overflow-x: hidden;
    background-color: white;
}

#detailproduitcom h1{
    padding-left: 15%;
}

#detailproduit{
    position: fixed;
    right: 0;
} 

/* ***************************************************************************************************************
********************************************     PANIER     ******************************************************
*****************************************************************************************************************/

#bgpanier{ /* background du panier */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%, rgb(243,243,243,1) 100%); /* effet fondu */
}

#titrepanier{ /* texte "Votre Panier" */
    font-size: 48px;
    color: #17C4FB;
    font-weight: 700;
    -webkit-text-stroke: 1px black; /* contours noir du texte */
    margin-left: 2%;
    margin-top: 2%;
}

.cardpanier{ /* card du panier rempli */
    width: 100%;
    height: 10rem;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(206, 206, 206); /* ombres */
}

.cardpanier p{ /* montant total */
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    font-size: 24px;
    font-weight: 700;
}

.cardpanier button{ /* bouton payer */
    width: 25%;
    height: auto;
    border-radius: 50px;
    color: white;
    background: #1797BF;
    border: 2px solid #1797BF;
}

.cardpanier .divpayer{
    text-align: center;
}

 .paniervide{ /* container du panier vide */
    min-height: 20vh; /* taille minimum du container */
} 

#bodylogin{
    min-height: 40vh;
}

.btnpayer a{
    text-decoration: none;
    color: white;
}

.msgconnexion{
    color: rgb(200, 0, 0);
    font-size: 24px;
    opacity: 0;
}

.paniervide{ /* container du panier vide */
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.cardpaniervide{ /* card du panie vide */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    border: 2px solid #1797BF;
    border-radius: 20px;
}

.panierfooter{ /* container "ajout article" + "imprimer facture" */
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.panierfooter1{
    width: 40%;
}

.panierfooter1 i{
    padding-right: 5%;
}

.panierfooter1 a{ /* liens du container */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size:24px;
}

.panierfooter1 a:hover{ /* passage souris/hover sur les liens */
    transform: scale(1.10); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}

.panierfooter hr{
    width: 100%;
}

.panierfooterbot{ /* container avec les informations sur l'achat */
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
}

.panierfooter2{ /* contenu du container */
    width: 90%;
}

.panierfooter2 i{ /* logo "+" du container */
    padding-right: 5%;
}

.panierfooter2 a{ /* liens */
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size:24px;
}

.panierfooter2 li:hover i{ /* passage souris/hover sur les listes */
    transform: scale(1.10); /* augmentation de la taille */
    transition: 0.5s ease-in-out;
}

.panierfooter2 hr{
    width: 100%;
}

.panierfooter2 ul{
    list-style-type: none;
}

.panierfooter2 h3{ /* Texte "Informations sur l'achat" */
    color:#17C4FB;
    font-size: 38px;
    -webkit-text-stroke: 1px black; /* contours noir du texte */
}

.panierfooter2 p{
    font-size: 22px;
}

.panierfooter2 ul li ul { /* liste sous l'informations sur l'achat */
    display:none;
    margin-left:0;
    margin-bottom:9px;
    padding-left:0px;
}

.panierfooter2 ul {
    margin-left:0;
    margin-bottom:9px;
}

.panierfooter2 ul li:focus ul { /* clic sur la partie  */
    display:block;
}

li[tabindex]>a {
    pointer-events:none;
}

li[tabindex]:before {
     content:'+';
     float:right;
     padding-right:0.5em;
     font-weight:bold;
     color: #F3F3F3;
     font-size:120%;
     line-height:26px;
}

li[tabindex]:focus:before {
     content:'-';
}

li:focus {
       pointer-events:none;
}
/* referme le menu */

li:focus ul li a {
       pointer-events:auto;
}
/* maintient l'interaction des liens de sous menu avec la souris*/


/* ***************************************************************************************************************
****************************************     INTERFACE USERS       ***********************************************
*****************************************************************************************************************/

.espaceclient, .espaceclient2{  /* container interface client */
    display: flex;
    justify-content: center;
    width: 100%;
}

.espaceclient2 input{ /* input du questionnaire */
    width: 100%;
}

#formespaceclient{
    background-color: #F3F3F3;
    border: none;
}


/* ***************************************************************************************************************
******************************************     CARTE PRODUIT       ***********************************************
*****************************************************************************************************************/


.card__image_produit img { /* image des card produit */
    height: auto;
    width: 40%;
    vertical-align: middle;
  }
  
  .cards_produit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .cards__item_produit {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  .card_produit {
    background-color: white;
    border-radius: 0.50rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
  }
  
  .card__content_produit {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;    
    padding: 1rem;
  }

  .card__content_produit a{
    text-decoration: none;
    color: rgb(90, 90, 90);
    width: 100%;
    height: auto;
}

  .card__content_produit a:hover {
      color: #17C4FB;
      transition: 0.2s ease-in-out;
  }

  .card__content_produit i{
      font-size: 36px;
      color: #1797BF;
      margin-left: 90%;
  }

  .card__title_produit {
    color: gray;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .card__text_produit {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }


/* ***************************************************************************************************************
**************************************     CARTE CREDIT PAIEMENT       *******************************************
*****************************************************************************************************************/

.containerpaiement{
    background: #F3F3F3;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.containerpaiement{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.containerpaiement form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.containerpaiement form .inputBox{
    margin-top: 20px;
}

.containerpaiement form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.containerpaiement form .inputBox input,
.containerpaiement form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.containerpaiement form .flexbox{
    display: flex;
    gap:15px;
}

.containerpaiement form .flexbox .inputBox{
    flex:1 1 150px;
}

.containerpaiement form #btnsubmitpaiement{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background:linear-gradient(45deg, #1797BF, #17C4FB);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    text-align: center;
    text-decoration: none;
    color: white;
}

.containerpaiement form #btnsubmitpaiement a{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

.containerpaiement form #btnsubmitpaiement:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.containerpaiement .card-containerpaiement{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.containerpaiement .card-containerpaiement .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, #1797BF, #17C4FB);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.containerpaiement .card-containerpaiement .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.containerpaiement .card-containerpaiement .front .image img{
    height: 50px;
}

.containerpaiement .card-containerpaiement .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.containerpaiement .card-containerpaiement .front .flexbox{
    display: flex;
}

.containerpaiement .card-containerpaiement .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.containerpaiement .card-containerpaiement .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.containerpaiement .card-containerpaiement .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(135deg, #17C4FB, #1797BF);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.containerpaiement .card-containerpaiement .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.containerpaiement .card-containerpaiement .back .box{
    padding: 0 20px;
}

.containerpaiement .card-containerpaiement .back .box span{
    color:#fff;
    font-size: 15px;
}

.containerpaiement .card-containerpaiement .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.containerpaiement .card-containerpaiement .back .box img{
    margin-top: 30px;
    height: 30px;
}

#inputfacturation{
    display: none;
}

#formmodifpaiement{
    background-color: #F3F3F3;
    border: none;
}


/* ***************************************************************************************************************
*****************************************     MEDIA QUERIES       ************************************************
*****************************************************************************************************************/


@media all and (max-width: 300px){  /* media queries en dessous de 300px */ 

    .cardphare3 h3{
        margin-top: 300%;
        margin-left: 50%;
    }

    .cardcontent img{
        width: 50%;
    }

    .cardcontent h2{
        font-size: 18px;
        text-align: center;
    }

    #carouselExampleCaptions{
        visibility: hidden;
        display: none !important;
        width: 0%;
        margin: 0%;
        padding: 0%;
    }

    .panierinterieur, .panierheader, .panierfdp{
        font-size: 7px !important;
    }

    #imgproduitpanier{
        width: 100% !important;
    }

    #imgproduitpaiement{
        width: 100% !important;
    }

    #bgpanier{
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%, rgb(243,243,243,1) 100%);
    }

    #nomproduit{
        font-size: 14px !important;
    }

    #btnajouter{
        font-size: 14px;
    }

    .card__content_produit i{
        font-size: 26px;
    }
}

@media all and (min-width: 300px) and (max-width: 350px){  /* media queries entre 300px et 350px */

        .cardphare3 h3{
            margin-top: 260%;
            margin-left: 50%;
        }

        #carouselExampleCaptions{
            visibility: hidden;
            display: none !important;
            width: 0%;
            margin: 0%;
            padding: 0%;
        }

        #bgpanier{
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%, rgb(243,243,243,1) 100%);
        }

        #btnajouter{
            font-size: 14px;
        }

        .card__content_produit i{
            font-size: 26px;
        }

        .panierfooter1 a, .panierfooter2 a{
            font-size: 20px;
        }

        .panierinterieur, .panierheader, .panierfdp{
            font-size: 8px !important;
        }
    }

@media all and (min-width: 350px) and (max-width: 400px){   /* media queries entre 350px et 400px */

    .cardphare3 h3{
        margin-top: 220%;
        margin-left: 50%;
    }

    #carouselExampleCaptions{
        visibility: hidden;
        display: none !important;
        width: 0%;
        margin: 0%;
        padding: 0%;
    }

    #imgproduitpanier{
        width: 100% !important;
    }

    #imgproduitpaiement{
        width: 100% !important;
    }

    #bgpanier{
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%, rgb(243,243,243,1) 100%);
    }   

    .panierfooter1 a, .panierfooter2 a{
        font-size: 20px;
    }
}

@media all and (max-width: 480px){ /* media queries en dessous de 480px */

    .container1{
        min-height: 40vh;
    }

    .container1 .navmilieu a{
        text-align: center;
        font-size: 35px;
    }

    .container1 i{
        font-size: 20px;
    }

    .maintitle{
        text-align: center;
    }

    .footer{
        display: inline-flex;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footergauche, .footermilieu, .footerdroite{
        width: 100%;
    }

    .footermilieu li, .footerdroite li{
        font-size: 40px;
    }

    .footerdroite{
        text-align: center;
    }

    .cardpanier .btnpayer{
        width: 50%;
    }

    #bodypanier{
        display: inline-flex;
        flex-direction: column;
    }

    .cardpanier{
        width: 200px;
    }

    #carouselExampleCaptions p,
    #carouselExampleCaptions h5 {
        font-size: 15px;
    }

    #imgproduit, #sidebarproduit{
        width: 100%;
        position: relative;
    }
    #bgproduit, #cheminproduit{
        margin-left: 5%;
    }

    .footergauche li{
        font-size: 18px;
    }

    #cardpaniercenter{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #imgproduitpanier{
        width: 100% !important;
    }

    #imgproduitpaiement{
        width: 100% !important;
    }

    .panierinterieur, .panierheader, .panierfdp{
        font-size: 12px;
    }

    #imgproduitcarte{
        width: 75%;
    }

    #nomproduit{
        font-size: 18px !important;
    }

    #prixproduit{
        font-size: 24px !important;
    }
}

@media all and (min-width: 480px) and (max-width: 720px){   /* media queries entre 480px et 720px */

    .navmilieu a{
        text-align: center;
    }

    .container1{
        height: 30vh;
    }

    .footer{
        display: inline-flex;
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footergauche, .footermilieu, .footerdroite{
        width: 100%;
    }

    .footergauche li{
        font-size: 18px;
        color: red;
    }

    .footerdroite{
        text-align: center;
    }

    .cardpanier .btnpayer{
        width: 50%;
    }

    #carouselExampleCaptions p,
    #carouselExampleCaptions h5 {
        font-size: 18px;
    }

    #imgproduit, #sidebarproduit{
        width: 100%;
        position: relative;
    }
    #bgproduit, #cheminproduit{
        margin-left: 5%;
    }

    #cardpaniercenter{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    #imgproduitpanier{
        width: 50% !important;
    }

    #imgproduitpaiement{
        width: 50% !important;
    }

    #imgproduitcarte{
        width: 50%;
    }

    #nomproduit{
        font-size: 18px !important;
    }

    #prixproduit{
        font-size: 28px !important;
    }
}

@media all and (min-width: 720px) and (max-width: 1360px){   /* media queries entre 720px et 1360px */

    .navmilieu a{
        text-align: center;
    }

    .container1{
        height: 30vh;
    }

    #navitem a{
        font-size: 16px;
    }

    .footer{
        height:40vh;
    }

    .footergauche li{
        font-size: 20px;
    }

    .footermilieu li,
    .footerdroite li{ 
        font-size: 30px;
    }

    .cardpanier .btnpayer{
        width: 50%;
    }

    #carouselExampleCaptions p,
    #carouselExampleCaptions h5 {
        font-size: 30px;
    }

    #imgproduitpanier{
        width: 50% !important;
    }

    #imgproduitpaiement{
        width: 50% !important;
    }

    #imgproduitcarte{
        width: auto;
        height: 100%;
    }

    #nomproduit{
        font-size: 18px !important;
    }

    #prixproduit{
        font-size: 28px !important;
    }
}

@media all and (min-width: 1360px) and (max-width: 2000px){   /* media queries entre 1360px et 2000px */

    #imgproduitpanier{
        width: 50% !important;
    }

    #imgproduitpaiement{
        width: 20% !important;
    }
}