{% extends 'base.html.twig' %}

{% block rubrique %}
    <div class="mainrubrique">
        <div class="maintitle">
            <h2>Nos Catégories</h2>
        </div>
        <div class="cardcomplete">
    {% for ssRub in sousRubrique %}
        <div class="cardrubrique">
            <a href="{{ path('app_produit_index', {'id':ssRub.id}) }}">
                <div class="cardcontent">
                            <img src="/upload/img/rubrique/{{ssRub.photo}}">
                        <h2> {{ ssRub.nom }} </h2>
                </div>
            </a>
        </div>
    {% endfor %}
            </div>
    </div>
{% endblock %}


{# {{ssRub.photo}} #}